body {
    /*photo credit: <a href="https://unsplash.com/@kiwihug?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kiwihug</a> on <a href="https://unsplash.com/s/photos/background-texture?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
    background-image: url("images/kiwihug-qv05FvdE26k-unsplash.jpg");
}
#logo {
    object-fit: cover;
    width:80%;
    margin-bottom: 1vh;
    margin-left: 5vw;
    max-width: 400px;
}
h1 {  
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15vw;
    text-align: left;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 1%
}
h2 {
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2%;
    margin-bottom: 10%;
    padding-left: 1vw;
    text-align: left;
    font-size: 4vw;
    margin-right: 10%;
    }
h3 {
    color:#fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10vw;
    padding-left: 3vw;
}
h4 {
    color:#fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    padding-bottom: 10vw;
    padding-left: 3vw;
}
.blue-cake > img {
    object-fit: cover;
    width: 100%;
    position: relative;
}
.blue-cake {
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #00000080;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
 }
.text {
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    margin-top: 5%; 
 }
#cake-sorts {
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 3vw;
    text-align: center;
    list-style-position: inside;
    }
.cake-photos > img {
    object-fit: cover;
    width: 100%;
    padding-top: 2vh;
}
.video {
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 10vh; 
}
.iframe {
    border: 5px;
    margin: auto;
}
#caption {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.table {
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
td {
    text-align: center;
}
.footer {
    color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: auto;
    padding-bottom: 20vh;
}
#phone {
    vertical-align: middle;
}
#mail {
    vertical-align: middle;
}
#telephone {
    font-style: normal;
    text-align: left;
    color: rgb(32, 74, 212);
}
#email {
    font-style: normal;
    text-align: center;
    color: rgb(32, 74, 212);
}

